/docker-compose.yml
/docker/Dockerfile
/gen.mk
/nginx.conf
/nginx.env
/.overlay
/db.env
/mediawiki.env
/LocalSettings.php
/overlay/OurLocalSettings.php
/overlay/LocalSettings.php
/overlay/vendor
/overlay/composer.lock
/overlay/composer.local.lock
